# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip
*idx.json

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
cmd/neurogo/neurogo
cmd/nspatch/nspatch
cmd/nspatch/cfiles
cmd/nspatch/gensync
cmd/block_printer/block_printer
cmd/nslsp/nslsp_executable
cmd/goindexer
cmd/ng/ng
cmd/nsinput/nsinput
cmd/nssync/nssync

library/combined.log.txt
vscode-neuroscript/server/nslsp_executable
pkg/codebase-indices/*.json
bin/
tmp/

cmd/nslsp/nslsp_executable
vscode-neuroscript/vscode-neuroscript-0.3.0.vsix
runtime_idx.json
